.modal-body-container.settings-inner-container {
    padding: 10px;
    position: absolute;
    display: inline-block;
    width: 400px;
    text-align: center;
    box-shadow:  1px 1px 10px 0px #999;
    left: 0;
	right: 0;
	top: 7%;
	margin-left: auto;
 	margin-right: auto;
	max-width: 740px;
}

.settings-inner-container {
    background-color: #FFF;
}

.message-header {
    font-size: 24px;
}

.message-body {
    margin-bottom: 10px;
}

.alert-buton {
    margin: 10px;
}

.settings-group {
    margin: 10px 0px 10px 0px;
}

.settings-group-horizontal {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.setting-heading {
    font-size: 24px;
    background-color: #DDD;
    color: #FFF;
    text-shadow: 2px 1px 2px #999;
    margin-bottom: 5px;
}


/*** Light Theme *****************************************************************************/
.light .setting-heading {
    background-color: #DDD;
    color: #FFF;
    text-shadow: 2px 1px 2px #999;
}
.light .message-header {
    color: rgb(73, 152, 212);
}

/*** Dark Theme *****************************************************************************/
.dark .setting-heading {
    background-color: #263238;
    color: #152127;
    text-shadow: 2px 1px 2px #000;
}
.dark .message-header {
    color: rgb(204, 149, 30);
}