.help-inner-container {
    max-width: 800px;
    top: 10%;
    display: inline-block;
    padding: 50px 100px 50px 100px;
}

.help-modal-message-container {
    padding: 20px;
    max-height: 600px;
    overflow-y: auto;
    box-shadow:  inset 1px 2px 7px 2px #DDD;
}
.help-modal-message-container::-webkit-scrollbar { 
    display: none; 
}

.message-body {
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
}

.help-heading {
    font-size: 16px;
    background-color: #DDD;
    color: #FFF;
    text-shadow: 2px 1px 2px #999;
    margin-bottom: 5px;
    text-align: center;
}

.bullet {
    color: rgb(73, 152, 212);
    text-shadow: 2px 1px 2px #999;
}

.help-modal-button-container {
    margin-top: 25px;
}


/*** Light Theme *****************************************************************************/
.light .help-heading {
    background-color: #DDD;
    color: #FFF;
    text-shadow: 2px 1px 2px #999;
}
.light .help-modal-message-container {
    box-shadow:  inset 1px 2px 7px 2px #DDD;
}
.light .bullet {
    color: rgb(73, 152, 212);
    text-shadow: 2px 1px 2px #999;
}

/*** Dark Theme *****************************************************************************/
.dark .help-heading {
    background-color: #263238;
    color: #152127;
    text-shadow: 2px 1px 2px #000;
}
.dark .help-modal-message-container {
    box-shadow: inset 1px 2px 7px 2px #000;
}
.dark .bullet {
    color: rgb(204, 149, 30);
    text-shadow: 2px 1px 2px #000;
}