.app-title {
    padding-bottom: 15px;
}

.settings-button-container {
    z-index: 400;
    position: fixed;
    top: 7px;
    right: 55px;
}

.help-button-container {
    z-index: 400;
    position: fixed;
    top: 7px;
    right: 10px;
}