.h-spacer-2, .h-spacer-5, .h-spacer-10, .h-spacer-20, .h-spacer-30, .h-spacer-50, .h-spacer-100, .h-spacer-150, .h-spacer-200, .h-spacer-300 {
    display: inline-block;
}
.h-spacer-2 { width: 2px; }
.h-spacer-5 { width: 5px; }
.h-spacer-10 { width: 10px; }
.h-spacer-15 { width: 15px; }
.h-spacer-20 { width: 20px; }
.h-spacer-30 { width: 30px; }
.h-spacer-50 { width: 50px; }
.h-spacer-100 { width: 100px; }
.h-spacer-150 { width: 150px; }
.h-spacer-200 { width: 200px; }
.h-spacer-300 { width: 300px; }

.padded-top-5 {
    padding-top: 5px;
}