.text-sm { font-size: 8pt; }
.text-sm-med { font-size: 10pt; }
.text-med { font-size: 12pt; }
.text-med-lg { font-size: 14pt; }
.text-lg { font-size: 16pt; }
.text-xl { font-size: 20pt; }
.text-xxl { font-size: 30pt; }
